<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.nxhx.Arbor.arborsync</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/arborsync-service</string>
	<key>ProgramArguments</key>
	<array>
		<string>arborsync-service</string>
		<string>--control</string>
		<string>--port</string>
		<string>4317</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>Crashed</key>
		<true/>
	</dict>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ThrottleInterval</key>
	<integer>5</integer>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>org.nxhx.Arbor</string>
	</array>
</dict>
</plist>
